[Unit]
Description=Send an “it’s bi not straight” tweet

[Service]
Type=oneshot
ExecStart=/usr/bin/itsbinotstraight
WorkingDirectory=/usr/lib/itsbinotstraight/
SyslogIdentifier=%N
