[Unit]
Description=Send an “it’s bi not straight” tweet

[Service]
Type=oneshot
ExecStart=/usr/bin/nodejs index.js
WorkingDirectory=/usr/local/lib/itsbinotstraight/
